[Unit]
Description=notionbackend
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/NotionBackend
ExecStart=/home/pi/NotionBackend/env/bin/python __main__.py
Restart=always

[Install]
WantedBy=multi-user.target
